
<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="/">TapzTracking</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/about">About</a>
      </li>
    {% if session.Comcaster %}
      <li class="nav-item">
        <a class="nav-link text-light" href="/sales_dash">Sales Dashboard</a>
      </li>
    {% endif %}
  <!-- testing this out for more time data
    {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link text-light" href="/dashboard">Dashboard</a>
      </li>
    {% else %}
    {% endif %}
  -->
    </ul>

    <ul class="navbar-nav">

  {% if session.logged_in %}

    <!-- Dropdown -->
      {% if session.Comcaster %}
        <li class="nav-item dropdown">  <!--dropdown for sales entry-->
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
            Sales
          </a>
          <div class="dropdown-menu bg-dark" style="">
            <a class="dropdown-item text-light" href="/sales_entry">Sales Entry</a>
            <a class="dropdown-item text-light" href="/view_sales">View Sales</a>
          </div>
        </li>
      {% else %}
      {% endif %}
        <!-- Dropdown -->
        <li class="nav-item dropdown">  <!--dropdown for time entry-->
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
            Time
          </a>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item text-light" href="/time_entry">Time Entry</a>
            <a class="dropdown-item text-light" href="/view_time">View Time</a>
          {% if session.Admin %}
            <a class="dropdown-item text-light" href="/employee_time">Employee Time</a>
          {% else %}
          {% endif %}
          </div>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">  <!--dropdown for time entry-->
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
            Pay
          </a>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item text-light" href="/pay_entry">Pay Entry</a>
            <a class="dropdown-item text-light" href="/view_pay">View Pay</a>
        <!--end dropdown-->

        <li class="nav-item"> <!--account page-->
          <a class="nav-link text-light" href="/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/logout">Logout</a>
        </li>
    {% else %}
      <li class="nav-item text-light">
        <a class="nav-link text-light" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/login">Login</a>
      </li>
    {% endif %}
    </ul>


</nav>
