    {% extends 'layout.html' %}

    {% block body %}
        <h1>About TapzTracking</h1>
        <h2><small>My name is Chris Tapia. I developed TapzTracking with your business in mind, so that you can stay focused on your business while giving you peace of mind. Many businesses lose money from inaccurate time entry and other manually recorded data. My goal is to make the process easy and painless, so that you don't have to worry!</small></h2>
        <h2><small>All you have to do sign in or register today to get started.</small></h2>
        <br>
        <div class="">
          <h4 align="center">Visit my other work on Github or connect with me on LinkedIn!</h4>
        </div>

    <div class="container" align="center">
      <span style="center">
        <a href="https://www.linkedin.com/in/chris-tapia-67b59070/"><i style="color:f08c; padding: 50px 50px;" class="fab fa-linkedin fa-3x"></i></a>
        <a href="https://www.github.com/tapz1"><i style="color:black; padding: 50px 50px; align: middle" class="fab fa-github fa-3x icon-3d"></i></a>
      </span>
    </div>
    {% endblock body %}
