{% extends 'layout.html' %}

{% block body %}
  <br>
  <br>
  <br>
  {% from "includes/_formhelpers.html" import render_field %}
     <form action="" method="POST">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>
<br>
        <div class="form-group">
            <div class="text-center">
                <label class="col-sm-3">
                    {{render_field(form.email, class="form-control")}}
                </label>
            </div>
          <br>
          <p><input type="Submit" class="btn btn-primary" value="Send Reset Link"></p>
        </div>
      </div>

    </form>



{% endblock %}
