{% extends 'layout.html' %}

{% block body %}


    <p class="lead" align="right"><strong>Today's date: {{ date }}</strong></p>
    <h1 class="display-4"><strong>Sales Entry</strong></h1>
    <hr>
    <h5 class="font-weight-lighter">{{ name_greet }}, here you can submit your sales throughout the day.</h5>
    <h2 align="right"><small>{{total_units}} units and ${{total_rev}} in revenue</small></h2>
    <br>
    <br>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" class="justify-content-center">
        <div class="form-group" align="center">
            <div class="justify-content-center">
                <label> <!-- vid input -->
                  {{render_field(form.vid_unit, class="form-control", type="number", value="0", min="0", style='text-align:center; width: 40%;')}}
                </label>
                <label> <!-- hsd input -->
                    {{render_field(form.hsd_unit, class="form-control", type="number", value="0", min="0", style='text-align:center; width: 40%;')}}
                </label>

                <label> <!-- voice input -->
                    {{render_field(form.voice_unit, class="form-control", type="number", value="0", min="0", style='text-align:center; width: 40%;')}}
                </label>

                <label> <!-- voice input -->
                    {{render_field(form.xh_unit, class="form-control", type="number", value="0", min="0", style='text-align:center; width: 40%;')}}
                </label>

                <label> <!-- voice input -->
                    {{render_field(form.mobile_unit, class="form-control", type="number", value="0", min="0", style='text-align:center; width: 40%;')}}
                </label>

                <label> <!-- revenue input -->
                    {{render_field(form.revenue, class="form-control", type="number", step="0.01", value="0", min="0", style='text-align:center; width: 50%;')}}
                </label>
              <div class="" style="clear:both;">
                <label> <!-- chat  ID input -->
                    {{render_field(form.chat_id, class="form-control", type="number")}}
                </label>
                <label> <!-- cust_id input -->
                    {{render_field(form.cust_id, class="form-control", type="number")}}
                </label>
                <label> <!-- cust_id input -->
                    {{render_field(form.sesh_id, class="form-control", type="text")}}
                </label>
                </div>

                <div class="" style="clear:both;">
                <label id='comment'> <!-- comment input -->
                    {{render_field(form.comment, class="form-control", type="text")}}
                </label>
                </div>
            </div>
        </div>
        <br>
        <p align="center"><input type="Submit" class="btn btn-primary" value="Submit"></p>

    </form>
    <br>
    <div class="justify-content-center" style="clear:both;">
      <!--if statment to show table & stats-->
      {% if total_units or total_rev %}
        <h2 align="center">Sales Today</h2>
        <hr>
        <h2 align="center"><small>Video: {{total_vids}} | Int: {{total_hsd}}  | Voice: {{total_voice}}</small></h2>
        <h2 align="center"><small>Video Attach: {{vid_attach}}% | TP Selling Rate: {{tp_percent}}%</small></h2>
        <h2 align="center"><small> DP Selling Rate: {{dp_percent}}% | SP Selling Rate: {{sp_percent}}%</small></h2>

      </div>
          <br>
          <table class="table table-dark table-hover table-striped" align="center" style="font-family:Tahoma; width:100%; text-align:center; background-color: #228228228; box-shadow:5px 5px 10px black;">
            <tr>
              <!--<th style="text-align:center;"><font size="4">Date</font></th>-->
              <!--<th style="text-align:center;"><font size="4">Name</font></th>-->
              <th style="text-align:center;"><font size="4">Video</font></th>
              <th style="text-align:center;"><font size="4">Internet</font></th>
              <th style="text-align:center;"><font size="4">Voice</font></th>
              <th style="text-align:center;"><font size="4">XH</font></th>
              <th style="text-align:center;"><font size="4">Mobile</font></th>
              <th style="text-align:center;"><font size="4">Revenue</font></th>
              <th style="text-align:center;"><font size="4">Chat ID</font></th>
              <th style="text-align:center;"><font size="4">Cust ID</font></th>
              <th style="text-algin:center;"><font size="4">Sesh ID</font></th>
              <th style="text-align:center;"><font size="4">Comments</font></th>
            </tr>

            {% for i in table %}
            <tr>
              <!--<td><font size="3">{{i.Date}}</font></td>-->
              <!--<td><font size="3">{{i.FirstName + ' ' + i.LastName}}</font></td>-->
              <td><font size="3">{{i.vid_unit}}</font></td>
              <td><font size="3">{{i.hsd_unit}}</font></td>
              <td><font size="3">{{i.voice_unit}}</font></td>
              <td><font size="3">{{i.xh_unit}}</font></td>
              <td><font size="3">{{i.mobile_unit}}</font></td>
              <td><font size="3">${{i.revenue}}</font></td>
              <td><font size="3">{{i.chat_id}}</font></td>
              <td><font size="3">{{i.cust_id}}</font></td>
              <td><font size="2">{{i.sesh_id}}</font></td>
              <td><font size="3">{{i.comment}}</font></td>
              <td><a href="edit_sale/{{i.sale_id}}" class="btn btn-default pull-right text-light"><strong>Edit</strong></a></td>
              <td>
                 <form action="{{url_for('delete_sale', sale_id=i.sale_id)}}" method="post">
                   <input type="hidden" name="_method" value="DELETE">
                   <!--added onclick delete confirmation-->
                   <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this entry?');" class="btn btn-danger">
                 </form>
               </td>
            </tr>
            {% endfor %}

          </table>
      {% else %}
        <h2 align="center">No sales yet!</h2>
        <hr>
      {% endif %}


{% endblock %}
