{% extends 'layout.html' %}

{% block body %}

    <p class="lead" align="right"><strong>Today's date: {{ date }}</strong></p>
    <h1 class="display-4"><strong>Time Entry</strong></h1>
    <hr>
    <h5 class="font-weight-lighter">{{ name_greet }}, here you can submit your time entry.</h5>
    <br>
    <br>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" align="center">
        <div class="form-group" align="center">
            <div class="row">
                <label class="col-sm-4"> <!-- Date input -->
                  {{render_field(form.date_form, class="form-control", type="date", value=html_date)}}
                </label>
                <label class="col-sm-4"> <!-- Time input -->
                    {{render_field(form.time_in_form, class="form-control", type="time", value=html_time)}}
                </label>
                <label class="col-sm-4"> <!-- Time input -->
                    {{render_field(form.time_out_form, class="form-control", type="time")}}
                </label>
            </div>
            <div align="center">
                <h3><small>Category</small></h3>
                <select class="col-sm-4 form-control" value={{form.category_form}}>
                  {% for category in categories %}
                    <option>{{category}}</option>
                  {% endfor %}
                </select>
            </div>
        <br>
        <p><input type="Submit" class="btn btn-primary" value="Submit"></p>
    </form>
    {% if total_hours %}
      <h2 class="lead-center" align="center">Total Time Today: {{total_hours}} hours</h2>
      <hr>
      <div class="" style="clear:both;">

        <br>
        <table class="table table-dark table-hover" align="center" style="font-family:Tahoma; width:80%; text-align:center; background-color: #228228228; box-shadow:5px 5px 10px black;">
          <tr>
            <th style="text-align:center;"><font size="4">Date</font></th>
            <!--<th style="text-align:center;"><font size="4">Name</font></th>-->
            <th style="text-align:center;"><font size="4">Time In</font></th>
            <th style="text-align:center;"><font size="4">Time Out</font></th>
            <th style="text-align:center;"><font size="4">Category</font></th>
          </tr>

          {% for i in table %}
          <tr>
            <td><font size="3">{{i.Date}}</font></td>
            <td><font size="3">{{i.Time_In}}</font></td>
            <td><font size="3">{{i.Time_Out}}</font></td>
            <td><font size="3">{{i.category}}</font></td>
            <td><a href="edit_time/{{i.time_id}}" class="btn btn-default pull-right text-light"><strong>Edit</strong></a></td>
            <td>
               <form action="{{url_for('delete_time', time_id=i.time_id)}}" method="post">
                 <input type="hidden" name="_method" value="DELETE">
                 <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this entry?');" class="btn btn-danger">
               </form>
             </td>
          </tr>
          {% endfor %}

        </table>

      {% else %}
        <h2 align="center">No time entered yet!</h2>
        <hr>
      {% endif %}

{% endblock %}
