{% extends 'layout.html' %}

{% block body %}
    <p class="lead" align="right">Today's date: {{ date }}</p>
    <h1><strong>Time Entry</strong></h1>
    <h2><small>{{ name_greet }}, here you can submit your time entry.</small></h2>
    <br>
    <br>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" align="center">
        <div class="form-group" align="center">
            <div class="row">
                <label class="col-sm-4"> <!-- Date input -->
                  {{render_field(form.date_form, class="form-control", type="date")}}
                </label>
                <label class="col-sm-4"> <!-- Time input -->
                    {{render_field(form.time_in_form, class="form-control", type="time")}}
                </label>
                <label class="col-sm-4"> <!-- Time input -->
                    {{render_field(form.time_out_form, class="form-control", type="time")}}
                </label>
            </div>
        </div>
        <br>
        <p><input type="Submit" class="btn btn-primary" value="Submit"></p>
    </form>

{% endblock %}
